body {
  background: rgb(255, 248, 250);
}

.container {
  max-width: 800px;
  margin: 60px auto;
}

.weather-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 85px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(7, 2, 94, 1) 0%,
    rgba(49, 102, 168, 1) 100%
  );
}

#search-form {
  margin-bottom: 40px;
}

#search-text-input {
  width: 85%;
  height: 40px;
  padding: 5px 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(181, 213, 255);
  outline: none;
  color: rgb(181, 213, 255);
  letter-spacing: 2px;
  text-align: center;
}

::placeholder {
  color: rgb(181, 213, 255);
  font-style: italic;
  font-weight: 200;
  letter-spacing: 2px;
}

#search-text-input:focus::placeholder {
  color: transparent;
}

.weather-wrapper .btn {
  height: 40px;
  font-size: 12px;
  max-width: 100%;
  font-weight: 500;
  color: rgb(181, 213, 255);
  background-color: transparent;
  border: 1px solid rgb(181, 213, 255);
  transition: all 0.4s ease 0s;
}
.weather-wrapper .btn:hover {
  background-color: rgb(181, 213, 255);
  color: rgba(7, 2, 94, 1);
  letter-spacing: 4px;
}
